{% extends "tasks_list.html" %}
{% load static %}

{% block 'title' %}{{ pgn }}{% endblock 'title' %}

{% block 'selected-form' %}
    <form action="{% url 'tasks_completed' %}" id="acao-task" method="POST" class="container d-flex justify-content-center align-items-center" style="height:100%;width: 100%;">
        {% csrf_token %}
        <input name="selecionado" type="hidden" value="" id="selecionado">
        <div class="container d-flex justify-content-center align-items-center" style="height:100%;width: 50%;">
            <input name="botao" type='submit' value="Excluir" id="excluir" class="btn" style="height:80%;width: 80%;margin 10px;display:none;background-color:red;">
        </div>
    </form>
{% endblock 'selected-form' %}

{% block 'novo' %}
    <a href="{% url 'tasks_list' %}" id="voltar" class="btn" 
    style="height:100%;width: 60%;margin 10px;">Voltar</a>
{% endblock 'novo' %}

{% block 'modal' %}{% endblock 'modal' %}